@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base{
  @font-face {
    font-family: 'DMSans';
    src: url('./fonts/DM_Sans/DMSans-Bold.ttf');
  }
  
  @font-face {
    font-family: 'Aristotelica Pro';
    src: url('./fonts/zetafonts-aristotelica-pro/Zetafonts\ -\ Aristotelica\ Pro\ Display\ Extralight.otf');
  }
}

